<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    <div>
        <h1>Welcome to Stardew-Valley Dating Simulation, <%= data.name ? data.name : 'Good People' %> </h1>
    </div>
    <div>
        <p>
            In this App you can explore the love simulation with Stardew Valley Characters
        </p>
        <p>
            There are 12 Characters with their own personality and faces.
        </p>
        <p>
            Are you ready to explore and find the one ?
        </p>
        <p>
            Go Register or Login now !
        </p>
            (the button is at the top left corner of the page)
    </div>
</body>
</html>