<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="simple.css" />
    <title>Home page</title>
</head>
<body id="mainContentArea">
    <div id="title">
        Stardew-Valley Dating Simulation
    </div>
    <nav id="linkGroup">
        <button>
            <a href="/login">Login</a>
        </button>
        <button>
            <a href="/register">Register</a>
        </button>
    </nav>
    <div id ="blueBox">
        <div class="pageContent">
            <div>
                <h2>Love to see you here, <%= data ? data : 'Good People' %> :) </h2>
            </div>
            <p>
                In this App you can explore the love simulation with Stardew Valley Characters
            </p>
            <p>
                There are 12 Characters with their own personality and faces.
            </p>
            <p>
                Are you ready to explore and find the one ?
            </p>
            <p>
                Go Register or Login now !
            </p>
                (the button is at the top left corner of the page)
                <br>
                <a href="/logout">Logout</a>
        </div>
    </div>
    <div id="footer">
        <a href="/">Joshua Fanera</a> -
        <a href="/">Ghazan Athar Krisna</a>
    </div>
</body>
</html>